/********* ISSUES LIST ID **********/
.issues-list-issue-id{
	color: #BBBBBB;
}

/********* Add INLINE-ISSUE **********/
.inline-issue-add{
	font-size: 11px;
}

.scrum_issue_inline_fields{
	width: 100%;
	height: 60px;
}

.scrum_issue_inline_field{
	margin-left: 15px;
	float: left;
}

.scrum_issue_inline_label{
	padding-top: 4px;
	float: left;
}

.scrum_issue_inline_control{
	float: left;
	margin-left: 3px;
}

.scrum_issue_inline_submit{
	width: 100%;
	float: none;
}

.scrum_issue_inline_submit input{
	float: right;
}

.name_size_container{
	width: 235px;
	float: left;
}

.name_size_container .scrum_issue_inline_field{
	width: 100%;
}

.name_size_container .scrum_issue_inline_label{
	width: 50px;
}

.parent_issue_subject{
	display: none;
}

.inline_issue_field_float_type,
.inline-issue-add .custom_field_float_type{
	width: 40px;
}
/********* Add INLINE-CHILD **********/
#add_inline_child_template{
	visibility: hidden;
}

.add_inline_child{
	display:none;
}

/********* ISSUE-LIST **********/

table.list tbody tr.group td { padding: 2px; font-weight: normal; border-bottom: none; }

tr.idnt-1 td.subject {padding-left: 2em !important;}
tr.idnt-2 td.subject {padding-left: 4em !important;}
tr.idnt-3 td.subject {padding-left: 6em !important;}
tr.idnt-4 td.subject {padding-left: 8em !important;}
tr.idnt-5 td.subject {padding-left: 10em !important;}
tr.idnt-6 td.subject {padding-left: 12em !important;}
tr.idnt-7 td.subject {padding-left: 14em !important;}
tr.idnt-8 td.subject {padding-left: 16em !important;}
tr.idnt-9 td.subject {padding-left: 18em !important;}

tr.issue.idnt td.subject a {background: none; padding-left: 0px;}

tr span.expander {background-size: 13px 13px; background-image: url('../images/row_collapsed_icon.png');}
tr span.expander.hover { background-image: url('../images/row_collapsed_icon_over.png'); }

tr.open span.expander { background-image: url('../images/row_expanded_icon.png'); }
tr.open span.expander.hover { background-image: url('../images/row_expanded_icon_over.png'); }

.edit{ float: left; width: 100%;}
.edit.float input{ width: 50px; }
.accumelated-result{ font-weight: bolder; float: left; width: 100%;}

.edit-placeholder{display:none; color: #BBBBBB; width:100%;}
tr:hover .edit-placeholder{display:block; color: #BBBBBB; }

td.cf_5 {width: 85px;}
td.estimated_hours {width: 85px;}
