/********* ISSUES LIST ID **********/
.issues-list-issue-id{
  color: #BBBBBB;
  padding-right: 4px;
}

/********* Add INLINE-ISSUE **********/
.inline-issue-add{
  font-size: 11px;
}

.scrum_issue_inline_fields{
  width: 100%;
  height: 60px;
}

.scrum_issue_inline_field{
  margin-left: 15px;
  float: left;
}

.scrum_issue_inline_label{
  padding-top: 4px;
  float: left;
}

.scrum_issue_inline_field label, .scrum_issue_inline_label{ 
  width: 70px;
}

.scrum_issue_inline_control{
  float: left;
  margin-left: 3px;
}

.scrum_issue_row{
  clear: clear;
  width: 100%;
  padding-top: 5px;
}

.scrum_issue_inline_submit{
  width: 100%;
  float: none;
  clear: both;
  margin-left: 15px;
}

.scrum_issue_inline_submit input{
  float: left;
  margin-right: 20px;
}

.name_size_container{
  width: 435px;
  float: left;
}

.name_size_container .scrum_issue_inline_label{
  width: 50px;
}

.parent_issue_subject{
  display: none;
}

.inline_issue_field_float_type,
.inline-issue-add .custom_field_float_type{
  width: 40px;
}
/********* Add INLINE-CHILD **********/
#add_inline_child_template{
  visibility: hidden;
}

.add_inline_child{
  display:none;
}

/********* ISSUE-LIST **********/

table.list tbody tr.group td { padding: 2px; font-weight: normal; border-bottom: none; }

tr.idnt-1 td.subject {padding-left: 2em !important;}
tr.idnt-2 td.subject {padding-left: 4em !important;}
tr.idnt-3 td.subject {padding-left: 6em !important;}
tr.idnt-4 td.subject {padding-left: 8em !important;}
tr.idnt-5 td.subject {padding-left: 10em !important;}
tr.idnt-6 td.subject {padding-left: 12em !important;}
tr.idnt-7 td.subject {padding-left: 14em !important;}
tr.idnt-8 td.subject {padding-left: 16em !important;}
tr.idnt-9 td.subject {padding-left: 18em !important;}

tr.issue.idnt td.subject a {background: none; padding-left: 0px;}

tr span.expander {background-size: 13px 13px; background-image: url('../images/row_collapsed_icon.png');}
tr span.expander.hover { background-image: url('../images/row_collapsed_icon_over.png'); }

tr.open span.expander { background-image: url('../images/row_expanded_icon.png'); }
tr.open span.expander.hover { background-image: url('../images/row_expanded_icon_over.png'); }

.edit{ float: left; width: 100%;}
.edit.float input, .edit.list input{ width: 50px; }
.edit.status input{ width: 30px; }
.edit.status{ font-weight: bold }
.accumelated-result{ font-weight: bolder; float: left; width: 100%;}

.edit-placeholder{display:none; color: #BBBBBB; width:100%;}
tr:hover .edit-placeholder{display:block; color: #BBBBBB; }

td.cf_5 {width: 85px;}
td.estimated_hours {width: 85px;}

tr.us-issue{background-color:#EEEE9E}
tr.task-issue{background-color:#FFFFFF}
tr.epic-issue{background-color:#30be0E}
tr.ds-issue{background-color:red}
tr.de-issue{background-color:rgb(255,102,102)}
tr.test-issue{background-color:#FFFFFF}

table#issue-table td.subject div.prefix{
  float: left;
}
table#issue-table td.subject div.subject-contents{
  overflow:auto;
}

#statistics .label {
    width: 150px;
    display: inline;
    float: left;
}

#statistics .value {
    float: left;
}

.status.defined { background-color: gray; width:15px;}
.status.in_progress { background-color: skyBlue; width:30px;}
.status.completed { background-color: orange; width:45px;}
.status.finished { background-color: green; width:45px;}
.status.accepted { background-color: green; width:60px;}
.status.succeeded { background-color: green; width:60px;}
.status.failed { background-color: red; width:60px;}

#sidebar {
	width: 300px;
}

#content {
	width: 98%;
	padding: 4px 4px 0 6px;
}
#sprints {
	float: right;
	width: 42%;
	background-color: WhiteSmoke;
}
.sprint-name {
	background-color: ButtonFace;
}
.nil-version-issues{
	float: left;
	background-color: WhiteSmoke;
	width: 53%
}

.issue-actions {
	float: right;
	margin-right: 10px;
}
