div.sidebar-container-right {
    margin:0;
    padding:0;
}

div.sidebar-container-left {
    position:fixed;
    top:50%;
    left:0px;
    background-color:#4F8FFF;
    filter: alpha(opacity=87);
    -moz-opacity:0.50;
    opacity:0.87;
    -moz-border-radius-bottomright: 10px;
    -webkit-border-bottom-right-radius: 10px;
    -moz-border-radius-topright: 10px;
    -webkit-border-top-right-radius: 10px;
    -moz-box-shadow:0px 0px 20px #4F8FFF;
    -webkit-box-shadow:0px 0px 20px #4F8FFF;
    box-shadow:0px 0px 20px #4F8FFF;
}

div.sidebar-container-right {
    position:fixed;
    top:50%;
    right:0px;
    background-color:#507AAA;
    filter: alpha(opacity=87);
    -moz-opacity:0.95;
    opacity:0.87;
    -moz-border-radius-bottomleft: 10px;
    -webkit-border-bottom-left-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -webkit-border-top-left-radius: 10px;
    -moz-box-shadow:0px 0px 20px #507AAA;
    -webkit-box-shadow:0px 0px 20px #507AAA;
    box-shadow:0px 0px 20px #507AAA;
}

div.sidebar-container-top {
    position:fixed;
    top:0px;
    left:50%;
    background-color:#4F8FFF;
    filter: alpha(opacity=87);
    -moz-opacity:0.87;
    opacity:0.87;
    -moz-border-radius-bottomright: 10px;
    -webkit-border-bottom-right-radius: 10px;
    -moz-border-radius-bottomleft: 10px;
    -webkit-border-bottom-left-radius: 10px;
    -moz-box-shadow:0px 0px 20px #4F8FFF;
    -webkit-box-shadow:0px 0px 20px #4F8FFF;
    box-shadow:0px 0px 20px #4F8FFF;
}

div.sidebar-container-bottom {
    position:fixed;
    bottom:0px;
    left:50%;
    background-color:#4F8FFF;
    filter: alpha(opacity=87);
    -moz-opacity:0.87;
    opacity:0.87;
    -moz-border-radius-topright: 10px;
    -webkit-border-top-right-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -webkit-border-top-left-radius: 10px;
    -moz-box-shadow:0px 0px 20px #4F8FFF;
    -webkit-box-shadow:0px 0px 20px #4F8FFF;
    box-shadow:0px 0px 20px #4F8FFF;
}

div.sidebar-inject-left {
    position:absolute;
    background:url('../images/inject-left.png') center no-repeat;
    top:0px;
    right:0px;
}

div.sidebar-inject-right {
    position:absolute;
    background:url('../images/inject-right.png') center no-repeat;
    top:0px;
    left:0px;
}

div.sidebar-inject-top {
    position:absolute;
    background:url('../images/inject-top.png') center no-repeat;
    bottom:0px;
    left:0px;
}

div.sidebar-inject-bottom {
    position:absolute;
    background:url('../images/inject-bottom.png') center no-repeat;
    top:0px;
    right:0px;
}

div.sidebar-body {
    margin-left:20px;
    position:absolute;
    top:0px;
    left:0px;
    color:#FFFFFF;
}

ul.sidebar-menu {
    font-size:16pt;
    font-weight:bold;
    list-style:none;
    text-decoration:none;
    color:white;
}

ul.sidebar-menu li{
    line-height:1.5em;
}
.sidebar-body #sidebar h3 {
	color: wheat;
}
.sidebar-body #sidebar a {
	color: ThreeDFace;
}
