<% @version = @project.versions.build %>

<%= form_for :version, :url => add_scrum_sprint_path(:project_id => @project),
									  :html => {:id => 'version-form'}, :success => 'hide_field()' do |f| %>

	<div id='version_errors'> <%= error_messages_for 'sprint' %></div>
	<!--%= error_messages_for 'version' %-->
	
	<div class="box">
		<%= render :partial => 'form', :locals => {:f => f} %>
		
		<%= f.submit l(:button_create) %>
	</div>
<% end %>

